---
layout: menu
---
{% include JB/setup %}


{% for book in site.categories[page.category_id] %}
  <hr />
    <div class="row">
    <img src="{{ BASE_PATH }}/{{ book.book_path }}{{ book.cover }}" class="span2" style="max-height: 300px;" />
    <div class="span10">
      {% for author in book.creator %}
            <span class="badge badge-success pull-right">{{ author }}</span>
        {% endfor %}
        <h2><a href="{{ BASE_PATH }}{{ book.url }}">
        {{ book.title }}
        </a></h2>
        <p>{{ book.perface }}</p>
    </div>
    </div>
{% endfor %}
<hr />


